@import "tailwindcss";
@import "./theme.css";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));
@source "../../../packages/ui/src";
@source "../../..";

html,
body {
  touch-action: manipulation;
  font-size: 16px; /* Tăng cỡ chữ tổng thể */
}

/* Fix iOS Auto-zoom on inputs */
@media screen and (max-width: 768px) {
  input,
  textarea,
  select {
    font-size: 16px !important;
  }
}
